.grid-nav{
    background-color: #0F172A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid-nav-meun{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 10px;
    text-align: center;
    align-items: center;
    color: #f8fafc;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 80px;
    height: 80px;
}
.name{
   padding-left: 22px;
    font-weight: 500;
    font-size: 30px;
    color: #f8fafc;
  
}